table {
  border-collapse: collapse;
  margin-left: 50px;
}
th {
  border: solid 1px rgb(207, 207, 207);
  font-family:Calibri, 'Trebuchet MS', sans-serif;
}

td {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  border: solid 1px rgba(207, 207, 207, 0.7);
}

.anual {
  background-color: rgb(255, 170, 114);
  font-size: 35px;
  font-family: Calibri, 'Trebuchet MS', sans-serif
}

.sub {
  background-color: rgb(255, 222, 124);
  font-size: 25px;
}

.title {
  background-color: rgb(221, 252, 202);
  width: 100px;
}

.title td {
  width: 100px;
}

#der {
  text-align: right;
}

.total {
  background-color: rgb(0, 176, 240);
}

.vacio td {
  height: 15px;
}

.centro td {
  text-align: center;
  background-color: rgb(230, 230, 230);
  border: solid 1px rgb(138, 133, 133,0.8)
}

.complement {
  width: 20px !important;
  background-color: rgb(230, 230, 230);
  text-align: center;
  border: solid 1px rgb(138, 133, 133,0.8)
}